{
	admin off
	auto_https off
}

:9090 {
	tls /etc/cockpit/ws-certs.d/0-self-signed.cert /etc/cockpit/ws-certs.d/0-self-signed.key

	@code_server_no_slash path_regexp cs_ns ^/code-server/(?P<uid>[0-9]+)$
	redir @code_server_no_slash /code-server/{re.cs_ns.uid}/ 308

	@code_server path_regexp cs ^/code-server/(?P<uid>[0-9]+)(?P<rest>/.*)?$
	handle @code_server {
		forward_auth unix//run/cockpit/cockpit.sock {
			uri /cockpit/login
		}
		@valid_token {
			file {
				root /run/code-server/{re.cs.uid}/tokens
				try_files {http.request.cookie.cs_token} {http.request.uri.query.token}
			}
		}
		handle @valid_token {
			header ?token=* Set-Cookie "cs_token={http.request.uri.query.token}; Path=/code-server/{re.cs.uid}/; SameSite=Lax; Secure"
			rewrite {re.cs.rest}
			reverse_proxy unix//run/code-server/{re.cs.uid}/code-server.sock unix//run/code-server/{re.cs.uid}.sock {
				lb_policy first
				lb_try_duration 1s
			}
		}
		handle {
			respond "Forbidden: Invalid or missing token" 403
		}
	}

	handle {
		reverse_proxy unix//run/cockpit/cockpit.sock
	}
}
