node_modules/
dist/
dist-debs/
pages/
build/
playwright-report/
test-results/
.DS_Store
*.pyc
__pycache__/

inspection/
*.deb
[0-9]*.[0-9]*.[0-9]*/
.nyc_output/
coverage/
coverage-python/
coverage-data/
coverage-summary.md
